/* menu header - BEGIN */
body {
    background-color: gray
   
}


.logo {
    height: 1px;
}

.container {
    background-color:none;
    text-align: center;
}

.menu-header {
    background-color: #333333; 
    border-radius: 8px;
    box-shadow:
    0 3px 5px -1px rgba(0, 0, 0, 0.4),
    0 3px 2px 4px rgba(0, 0, 0, 0.12),
    0 3px 2px 4px rgba(0, 0, 0, 0.14);
}
.menu-header {
    display: inline block;

}
.menu-header a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    letter-spacing :1px
}
.menu-header a:hover {
    color: black;
    background-color: gray;

}
/* Menu header - END */
/* style untuk selector - body */
body{
    background-color:gray;
    margin: 0px;
}

/* style untuk Heading - BEGIN */
h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

h2 {
    color:grey;
}

/* style untuk Heading - END */

/* Card Home - BEGIN*/
.cardhome {
    background-color:rgb(119, 118, 118);
    width: 30%;
    height: 250px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);/*this adds "cards" effects */
    display: inline-block;
}
.cardhead {
    margin: 0px;
    height: 30px;
    border-bottom: solid 1px black;
    padding: 4px 0px;
}
.cardhead h2 {
    text-align: center;
    margin: 10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cardbody {
    padding: 10px;
    text-align: center;
}
.cardbody p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
}
.cardflex {
    justify-content: space-between;
}
.footer {
    text-align: center
    
}